

{{ if .page.Title }}
    <a href="{{ .RelPermalink }}">
      <li class="chapter-item">
        {{- $img := (.Resources.ByType "image").GetMatch "*feature*" -}} {{- if
        $img -}}
        <img
          class="chapter-image"
          src="{{ $img.RelPermalink }}"
          alt="{{ .Title }}"
          loading="lazy"
          width="100"
          height="100"
          style="border-radius: 8px; margin-right: 10px; float: left"
        />
        {{- end -}} {{- if .page.Params.image -}}
        <img
          class="chapter-image"
          src="{{ .page.Params.image }}"
          alt="{{ .Title }}"
          loading="lazy"
          width="100"
          height="100"
          style="border-radius: 8px; margin-right: 10px; float: left"
        />
        {{- end -}} {{- if .page.Params.icon -}}
        <img
          class="chapter-image"
          src="{{ .page.Params.icon }}"
          alt="{{ .Title }}"
          loading="lazy"
          width="100"
          height="100"
          style="border-radius: 8px; margin-right: 10px; float: left"
        />
        {{- end -}} {{ if .page.Params.emoji}}
        <span class="chapter-emoji">{{ .page.Params.emoji }}</span>
        {{ end -}}

        <h2 class="chapter-title mona-sans">
          <span class="gradient-text"
            >{{ if lt (add .num 1) 10 }}0{{ end }}{{ add .num 1 }}</span
          >
          {{ .page.Title }}
        </h2>
        <p class="chapter-description">
            {{- if .page.Params.description -}}
            {{ .page.Params.description | markdownify | plainify }}
            {{- else -}}
            {{- partial "utils/page-description" .page -}}
            {{- end -}}
          {{/*  {{- partial "utils/page-description" . -}}  */}}
        </p>
      </li>
    </a>
    {{ end -}}


<style>


  .gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0.25rem;
    list-style-type: decimal-leading-zero;
  }

  .chapter-image {
    display: none; /* Hide images by default */
    width: 100px;
    border-radius: 8px;
    margin-right: 10px;
    float: left;
    object-fit: cover;
    aspect-ratio: 4 / 3; /* Maintain aspect ratio */
  }

  .chapter-item {
    list-style-type: none;
    margin: 20px 0;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 17px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .chapter-item:hover {
    background-color: #f9f9f9;
    border-color: #d0d0d0;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .chapter-emoji {
    position: absolute;

    left: -12px;
    transform: translateY(-100%);
    font-size: 28px;
    z-index: 1;
  }

  .chapter-item {
    position: relative;
  }

  .chapter-title {
    font-weight: bold;
    margin: 0 0 5px;
    color: #333;
    font-size: large;
  }

  .chapter-description {
    margin: 0;
    color: #666;
    font-size: 14px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    line-height: 1.5rem; /* Adjusted line height for readability */
    max-height: 3rem; /* Limit height to 2 lines */
  }

  .chapter-item:focus-within {
    outline: 2px solid #0078d4;
    outline-offset: 2px;
  }

  .chapter-item:hover .chapter-title {
    color: #0078d4;
  }

  html[class~="dark"] {
    .chapter-item {
      color: #ffffff;
      background-color: #1e293b;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }

    .chapter-item:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
    }

    .chapter-title {
      color: #ffffff;
    }

    .chapter-description {
      color: #dddddd;
    }
  }

  @media (min-width: 769px) {
    .chapter-image {
      display: block; /* Show items on larger screens */
    }
  }

  @media (max-width: 768px) {
    .chapter-image {
      display: none; /* Hide images on smaller screens */
    }
  }
</style>