{{- $relatedArticles := (T "articles_from_same_series") | default "Related"}}

 {{- $borderClass := "hx-mt-8 hx-border-t" -}}
 

 {{ if .Params.series }}

  {{ $seriesName:= strings.ToLower (index .Params.series 0) }}

<div class="related-articles">
  <hr
    class="{{$borderClass}} dark:hx-border-neutral-800 contrast-more:hx-border-t contrast-more:hx-border-neutral-400 contrast-more:hx-shadow-none contrast-more:dark:hx-border-neutral-400"
  />
  
  <h2 class="hx-mt-8 hx-title">
    {{ i18n "article.articles_from_same_series" | emojify }}
  </h2>
  {{/*  <h2 class="hx-mt-8 hx-title">{{ $relatedArticles}}</h2>  */}}
  <hr
    class="{{$borderClass}} hx-mb-8 dark:hx-border-neutral-800 contrast-more:hx-border-t contrast-more:hx-border-neutral-400 contrast-more:hx-shadow-none contrast-more:dark:hx-border-neutral-400"
  />

  <div class="related-blogs-wrapper">
    {{ range $post := sort (index .Site.Taxonomies.series $seriesName) "Params.series_order" }}

     {{ if eq $post.Permalink $.Page.Permalink }}

{{/*  <span></span>  */}}
    
    {{ else }} 

    {{ partial "article-link/card-related.html" . }}

     {{ end }} 
     {{ end }} 
     
  </div>
</div>
{{ end }}


{{/*  <hr
  class="{{$borderClass}} dark:hx-border-neutral-800 contrast-more:hx-border-t contrast-more:hx-border-neutral-400 contrast-more:hx-shadow-none contrast-more:dark:hx-border-neutral-400"
/>  */}}

<style>
  .hx-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .related-blogs-wrapper {
    margin-top: 40px;
    margin-bottom: 80px;
    /* Optional: Add some margin to the top and bottom of the container */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }

</style>
