{{ if .Params.series }}
    <summary
        class="series-list"
        role="button" data-collapse-toggle="collapseExample" aria-expanded="false" aria-controls="collapseExample">
        {{ index .Params.series 0 }} - {{ i18n "article.part_of_series" }}
    </summary>
    {{ $seriesName := strings.ToLower (index .Params.series 0) }}
    {{ range $num,$post := sort (index .Site.Taxonomies.series $seriesName) "Params.series_order" }}
    {{ if eq $post.Permalink $.Page.Permalink }}
    <div
        class="series-list-item active">
        {{/*  {{ i18n "article.part" }} {{ $post.Params.series_order }}: {{ i18n "article.this_article" }}  */}}
        {{ i18n "article.part" }} {{ add $num 1 }}: {{ i18n "article.this_article" }}
    </div>
    {{ else }}
    <div
        class="series-list-item">
        <a href="{{$post.RelPermalink}}" class="text-primary-600 hover:text-primary-700 dark:text-primary-400 dark:hover:text-primary-300">
            {{ i18n "article.part" }} {{ add $num 1 }}: {{ $post.Params.title}}
        </a>
    </div>
    {{end}}
    {{end}}
{{end}}

<style>
    
    .series-list {
        padding: 0.75rem 1.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    }


    .series-list-item {
        padding: 0.75rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .series-list-item a {
        text-decoration: none;
        font-weight: 500;
        color: #007bff;
        transition: color 0.3s ease;
    }

    .series-list-item a:hover {
        color: #0056b3;
    }

    .series-list-item.active {
        color: #fff;
        background-color: #007bff;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .series-list-item.active a {
        color: #fff;
    }

    /* Dark mode styles */
    html[class~="dark"] {
        .series-list {
            color: #e0e0e0;
        }

        .series-list:hover {
            border-color: #555;
        }

        .series-list-item {
            border-color: #4a4a4a;
            color: #d0d0d0;
        }

        .series-list-item a {
            color: #4da8ff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .series-list-item a:hover {
            color: #1e90ff;
        }

        .series-list-item.active {
            color: #fff;
        }

        .series-list-item.active a {
            color: #fff;
        }
    }
</style>
