{{ if .Params.series }}
<details style="margin-left:0px" class="series-list-border" {{
    if .Params.seriesOpened | default (.Site.Params.article.seriesOpened | default false) }} open {{ end }}>
    {{ partial "series/series_base.html" . }}
</details>
{{end}}

<style>
    .series-list-border {
        border: 1px solid #ccc;
        border-radius: 12px;
        overflow: hidden;
    }

    .series-list-border summary {
        font-weight: bold;
        cursor: pointer;
    }

    .series-list-border[open] {
        border-color: #007acc;
    }

    html[class~="dark"] {
        .series-list-border {
            border: 1px solid #555;
            color: #ddd;
        }

        .series-list-border summary {
            color: #fff;
        }

        .series-list-border[open] {
            border-color: #66b2ff;
        }
    }
</style>