{{ if .Params.series }}
    <summary
        class="">
        {{ index .Params.series 0 }} - {{ i18n "article.part_of_series" }}
    </summary>
    {{ $seriesName := strings.ToLower (index .Params.series 0) }}
    {{ range $post := sort (index .Site.Taxonomies.series $seriesName) "Params.series_order" }}
    {{ if eq $post.Permalink $.Page.Permalink }}
    <div
        class="">
        {{ i18n "article.part" }} {{ $post.Params.series_order }}: {{ i18n "article.this_article" }}
    </div>
    {{ else }}
    <div
        class="">
        <a href="{{$post.RelPermalink}}">
            {{ i18n "article.part" }} {{ $post.Params.series_order }}: {{ $post.Params.title}}
        </a>
    </div>
    {{end}}
    {{end}}
{{end}}