:root {
  --primary-hue: 212deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
  --navbar-height: 4rem;
  --menu-height: 3.75rem;
}

:root {
  --clr-gray-light: #d7dfe2;
  --clr-gray-med: #3b3c3d;
  --clr-gray-dark: #414b56;
  --clr-link: #4d97b2;
  --clr-popular: #ef257a;
  --clr-technology: #651fff;
  --clr-psychology: #e85808;
  --shadow-color-hsl: 222 47% 11%;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(var(--shadow-color-hsl) / var(--shadow-opacity));
  --shadow-lg: 0px 16px 24px var(--shadow-color),
    0px 2px 6px var(--shadow-color);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
}

.dark {
  --primary-hue: 204deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
}

body {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body:is(html[class~="dark"] *) {
  --tw-bg-opacity: 1;
  /* background-color: rgb(13, 17, 23); */
  background-color: rgb(21, 23, 26);
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

/* .content {
    font-family: "Times New Roman", Times, serif;
  } */

/* .content code:not(.code-block code) {
  color: #c97c2e;
} */

.nav-container,
nav {
  /* background-color: aquamarine; */
  /* background-color: rgb(31, 35, 40); */
}

/* nav , a:is(html[class~="dark"] *){
  color: rgb(255, 255, 255);
} */

.nav-container {
  background-color: rgb(211, 211, 211);
  /* background-color: rgb(31, 35, 40); */
  /* background: rgb(31, 35, 40); */
}

.nav-container:is(html[class~="dark"] *) {
  /* background-color: rgb(33, 40, 48); */
  background-color: rgb(31, 35, 40);
  background: rgb(31, 35, 40);
}

nav .search-wrapper {
  display: none;
}
@media (min-width: 768px) {
  nav .search-wrapper {
    display: inline-block;
  }
}

.hextra-footer {
  /* Styles will be applied to the footer element */
}

.hextra-footer:is(html[class~="dark"] *) {
  /* Styles will be applied to the footer element in dark mode */
  background-color: rgb(31, 35, 40);
}

/* Custom Notes Blog List Cards  */

.notes-blogs-wrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  /* background-color: #121FCF; */
}

.notes-blog-card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray-light);
  /* background: white; */
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 0.5s all ease-in-out;
  /* cursor: pointer; */
  /* background-color: #e2e1b4; */
  /* border-radius: 10%; */
  /* width: 327px; */
}

.notes-blog-card:is(html[class~="dark"] *) {
  box-shadow: 0px 2px 20px #000000;
}

.notes-blog-card:hover {
  transform: scale(1.025);
  box-shadow: 0px 2px 40px var(--clr-gray-dark);
}

.notes-blog-card:hover:is(html[class~="dark"] *) {
  /* box-shadow: 0px 2px 20px #101011; */
}

.notes-blog-card-thumb {
  position: absolute;
  object-fit: cover;
  /* 14rem */
  height: 12rem;
  width: 100%;
  /* border-radius: 10%; */
}

.blog-category-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background: red;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.popular {
  background: var(--clr-popular);
}

.technology {
  background: var(--clr-technology);
}

.psychology {
  background: var(--clr-psychology);
}

.notes-blog-card-body {
  /* 15rem */
  margin: 13rem 1rem 1rem 1rem;
}

.notes-blog-tags {
  /* background: #ffffff;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--clr-link);
}

.notes-blog-tag {
  background: #bebebe;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  /* background: -webkit-linear-gradient(-70deg, rgb(130, 80, 223), rgb(212, 42, 50)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  /* font-size: 0.9rem;
  font-weight: 500;
  color: var(--clr-link); */
}

.notes-blog-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.notes-blog-description {
  color: var(--clr-gray-med);
  /* font-size: 0.9rem; */
}

.notes-blog-description:is(html[class~="dark"] *) {
  color: var(--clr-gray-light);
}

/* SIngle Page Notes BLog  */

.notes-blog-cover {
  border-radius: 0.5rem;
  /* position: absolute; */
  object-fit: cover;
  height: 14rem;
  width: 100%;
}

.blogs-wrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  /* background-color: #121FCF; */
}

.blog-card {
  overflow: hidden;
  /* box-shadow: 0px 2px 20px var(--clr-gray-light); */
  /* background: white; */
  /* border-radius: 0.5rem; */
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  border-radius: 0.5rem;
}

.blog-card-image {
  /* position: relative; */
  /* object-fit: cover; */
  /* height: 12rem; */
  /* z-index: 9; */
  /* width: 350px; */
  border-radius: 0.5rem;
}

.blog-card-image .blog-card-thumb {
  border-radius: 0.5rem;
  /* position: absolute; */
  object-fit: cover;
  height: 12rem;
  width: 100%;
  transition: 0.5s;
}

.blog-card-image .blog-card-thumb:hover {
  transform: scale(1.025);
  transition: 1s;
  z-index: 1;
  /* border-radius: 0.5rem; */
}

.mona-sans {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.blog-card-tag:is(html[class~="dark"] *) {
  /* background: linear-gradient(to right, #121fcf 0%, #cf1512 100%); */

  background: linear-gradient(
    140deg,
    #d2a8ff 12.09%,
    #f778ba 42.58%,
    #ff7b72 84.96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-card-tag {
  background: -webkit-linear-gradient(-70deg, #8250df, #d42a32);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About  */

.about-card-body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.about-card {
  --transition-duration: 700ms;
  color: white;
  position: relative;
  border-radius: 0.6em;
  overflow: hidden;
  /* zoom */
  font-size: 120%;
  height: min(21em, 90vh);
  max-width: 90vw;
  aspect-ratio: 16/9;
  box-shadow: var(--shadow-lg), var(--shadow-lg), var(--shadow-lg);
  transition: transform var(--transition-duration);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at 80% -150%,
      transparent 60%,
      rgba(0, 0, 0, 0.5)
    );
    transition: box-shadow var(--transition-duration);
    mix-blend-mode: overlay;
  }
}

.about-img {
  height: 100%;
  width: 100%;
  transition: transform var(--transition-duration);
  object-fit: cover;
  object-position: center;
  margin-top: 0;
}

.about-content {
  z-index: 1;
  position: absolute;
  bottom: min(2.5em, 6vmin);
  left: min(3em, 8vmin);
  right: min(3em, 8vmin);
  text-align: left;
  transition: transform var(--transition-duration) var(--ease-in-out);

  > * {
    position: relative;
    will-change: transform;
  }
}

h1:not(html[class~="dark"] *) {
  font-size: 1.8em;
  color: inherit;
  margin: 0;
}

h1:is(html[class~="dark"] *){
  font-size: 1.8em;
  color: inherit;
  margin: 0;
}

.infos {
  font-size: 0.8em;
  font-weight: bold;
  color: #eee;
  display: flex;
  gap: 0.35em;
  align-items: flex-end;

  span {
    line-height: 1;
  }
}

.synopsis {
  font-size: 0.8em;
  line-height: 1.4;
  margin-block: 0.75em;
  transition-delay: calc(var(--transition-duration) / 8);
  transition-property: opacity, transform;
  transition-duration: calc(var(--transition-duration) / 2);
}

.icons {
  display: flex;
  gap: 0.5em;

  svg {
    height: 1.2em;
    width: auto;
    transition-property: opacity, transform;
    transition-duration: calc(var(--transition-duration) / 2);
    transition-delay: 0s;
  }
}

.about-card:hover {
  transform: scale(1.03);

  .about-img {
    transform: scale(1.03);
  }

  .synopsis {
    transition-duration: var(--transition-duration);
    transition-delay: calc(var(--transition-duration) / 3);
  }

  .icons svg {
    &:nth-child(1) {
      transition-delay: calc(var(--transition-duration) / 1.8);
    }
    &:nth-child(2) {
      transition-delay: calc(var(--transition-duration) / 1.6);
    }
    &:nth-child(3) {
      transition-delay: calc(var(--transition-duration) / 1.4);
    }
  }
}

.about-card:not(:hover) {
  .synopsis {
    opacity: 0;
    transform: translateY(1em);
  }
  .icons svg {
    opacity: 0;
    transform: translateY(50%);
  }
  .about-content {
    transform: translateY(calc(100% - 4.5em));
  }
}
