{{ partial "home/spotlight-section.html" . }}

<div class="questions-container mona-sans">
  <h3 class="questions-container-title">Practice</h3>
  <div class="questions-section">
    {{ range first 12 (where .Site.RegularPages "Params.categories" "intersect"
    (slice "Statistics Graded Assignment")) }} {{ partial "qna-card.html" . }}
    {{ end }}
  </div>
</div>

<div class="chapter-collections-container mona-sans">
  <h2 class="chapter-collections-title gradient-text">IITM BS Degree</h2>
  <ul class="chapters_wrapper">
    {{ range $index, $page := first 8 (where .Site.RegularPages "Params.series"
    "intersect" (slice "Programming")) }} {{ partial
    "chapters/chapter-card.html" (dict "page" $page "num" $index) }} {{ end }}
  </ul>
</div>

<div class="blog-container hextra-scrollbar mona-sans">
  <h3 class="blog-container-title gradient-title">Blogs</h3>
  <div class="blog-section scroll-horizontal">
    {{ range first 8 (where .Site.RegularPages "Params.tags" "intersect" (slice
    "IITM BS Degree")) }} {{partial "blog-cards.html" .}} {{ end }}
  </div>
</div>

<style>
  .questions-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .questions-container-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .questions-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding: 0 20px;
    list-style-type: none;

    @media (max-width: 1024px) and (min-width: 669px) { 
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 668px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0;
      justify-content: center;
    }
  }

  .chapter-collections-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .chapter-collections-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .chapter-collections-title.gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .chapters_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    @media (max-width: 768px) {
      gap: 0;
      grid-template-columns: 1fr; /* Single column on smaller screens */
      width: 100%;
    }
    img.chapter-image {
      display: none; /* Hide images by default */
    }
    .chapter-description {
      display: none; /* Hide descriptions by default */
    }
  }

  .blog-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;

    hr {
      display: none;
    }
  }

  .blog-container-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .gradient-title {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .scroll-horizontal {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  .blog-card {
    flex: 0 0 auto; /* Prevents the card from shrinking */
    width: 300px; /* Fixed width for each card */
    margin: 0;
  }
  .blog-card-description {
    display: none;
  }
</style>
