{{ $materialID := .Get "id" | default "" }}
{{ $width := .Get "width" | default "800" }}
{{ $height := .Get "height" | default "600" }}
{{ $appName := .Get "appName" | default "graphing" }}

<div id="ggb-element-{{ $materialID }}"></div>
{{ if not (.Page.Scratch.Get "geogebra_script_loaded") }}
  <script src="https://www.geogebra.org/apps/deployggb.js"></script>
  {{ .Page.Scratch.Set "geogebra_script_loaded" true }}
{{ end }}
<script>
  var params = {
    "appName": "{{ $appName }}",
    "width": {{ $width }},
    "height": {{ $height }},
    "showToolBar": true,
    "showAlgebraInput": true,
    "showMenuBar": true,
    "material_id": "{{ $materialID }}"
  };
  var applet = new GGBApplet(params, true);
  window.addEventListener("load", function() {
    applet.inject('ggb-element-{{ $materialID }}');
  });
</script>
